#header {
  background-image: url(/material/images/image2.jpg);
  width: 100%;
  height: 51rem;
  background-repeat: no-repeat;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  max-width: 80rem;
  margin: auto;

}

#nav-container {
  background-color: rgba(0, 0, 0, 0.623);
  height: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  border-radius: 20px;
  padding-left: 20px;
    padding-right: 20px;
}

#header > div {
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 50%;
}

ul {
  list-style-type: none;
  text-transform: capitalize;
}

.hero-text {
  /* position: absolute; */
  margin-left: 50%;
  margin-top: 20%;
}



.hero-text > h3 {
  color: rgba(218, 218, 70, 0.767);
}

#story-button {
  border: none;
  background: none;
  color: white;
}

#menu-button {
  background-color: rgba(105, 19, 19, 0.925);
  border-radius: 15px;
  border: none;
  padding: 5px;
}

#about-section {
  background-color: #402907f5;
  display: flex;
  color: white;
  max-width: 80rem;
  margin: auto;
  padding: 5%;
  box-sizing: border-box;


}

#about-image > img {
  border-radius: 15px;
  height: 100%;
}

.main-text {
  font-style: italic;
}

#about-text > button {
  border-radius: 15px;
  color: white;
  padding: 5px;
  background: none;
  border-color: white;
}

#staff-container {
  background-color: #d9a066;
  color: white;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  max-width: 80rem;
  margin: auto;

}

.image-identity {
  display: flex;
  align-items: center;
  width: 130%;
}

.image-identity > h3 {
  width: 62%;
  z-index: 2;
}

.images {
  position: relative;
}

.images > img {
  border-radius: 20px;
}

.image-description {
  position: absolute;
  top: 68%;
  left: 1%;
}

#flex-card {
  display: flex;
}

#text-container {
  margin: auto;
  width: 10%;
}

.overlay {
  position: absolute;
  top: 103px;
  left: 0;
  width: 70%;
  height: 67%;
  background: linear-gradient(
    to top,
    rgba(236, 73, 73, 0.61),
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 1;
  border-radius: 20px;
}

.image-identity > button {
  background-color: orangered;
  width: 70px;
  border-radius: 20px;
  padding: 5px;
  color: white;
  border: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-divider {
  /* border-top: 1opx solid black; */
  border: 1px solid rgb(238, 229, 229);
}

.pricing {
  color: yellow;
}

.pricing > span {
  text-decoration-line: line-through;
  color: white;
}

.menu-container > div {
  color: white;
  width: 30%;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.623);

  border-radius: 20px;
  margin: 5%;
}

#breakfast-menu,
#coffee-menu {
  margin-left: 40%;
}

.menu-container {
  background: url(/material/images/image2.jpg);
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  max-width: 80rem;
  margin: auto;

}

#customers-review {
  width: 100%;
}

#testimonial-container {
  color: white;
}

#testimonial-container {
  background: #3a1f0e;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  margin-top: -16px;
  padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: -16px;
    max-width: 80rem;
    margin: auto;
  
}

#customer-details > div {
  color: white;
  display: flex;
  padding: 30px 0 30px 20px;
  align-items: center;
}

#names {
  margin-left: 20px;
  line-height: 0;
}

#review-container {
  display: flex;
}

#review-image {
  width: 90%;
  background: url(/material/images/image3.jpg);
}
.discription-container {
  width: 81%;
  background-color: #d9a066;
  margin-top: -16px;
  padding: 20px;
}

.rating {
  display: flex;
  justify-content: space-between;
}

#form-group {
  display: flex;
  gap: 10px;
}
#form-item {
 flex-direction: column;
 display: flex;
  flex: 1;
}

#footer {
  background-image: url(/material/images/image1.jpg);
  width: 100%;
  height: 48rem;
  background-repeat: no-repeat;
  color: white;
  /* padding-left: 5%;
  padding-right: 5%; */
  padding: 5% 5% 4% 5%;
  box-sizing: border-box;
  max-width: 80rem;
  margin: auto;


}

form {
  width: 30%;
  color: white;
  line-height: 40px;
}


input, textarea {
  background: none;
  color: white;
}

#contact-section {
  margin-top: 15%;
  display: flex;
justify-content: space-between;
}

#copyright > img {
  width: 15px;
}
